<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 class="label">Pentagram</h1>
<div>
    {% for post in posts %}
        <div>
            <div>
                <img src="{{ post.owner.profile_picture.url }}">
                <p>@{{ post.owner.username}} </p>
            </div>
            <div> <img src="{{ post.image.url }}"></div>
            <div> <p>{{ post.description }}</p></div>
        </div>
    {% endfor %}
</div>
</body>
</html>