<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photos</title>
</head>
<body>

    <h1>Instagram</h1>

    <form>
        {% csrf_token %}
        {{ photo_form }}
        <button type="submit">Post</button>
    </form>

    <div class="photos">
        {% for photo in photos %}
        <div>
            <img src="{{ photo.image.url }}" alt="photo">
            {{ photo.image.url }}
        </div>
    {% endfor %}
    </div>

</body>
</html>