<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Page</title>
</head>
<body>
    <h3>Creation successful.</h3>
    <hr>
    <a href="{% url "create_user" %}"><button>User Creation</button></a>
    <a href="{% url "post_creation" %}"><button>Post Creation</button></a>
</body>
</html>